{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<ul{attributes -> f:format.raw()}>
<f:render section="itemsList" arguments="{items: items}"/>
</ul>

<f:section name="itemsList">
    <f:for each="{items}" as="item">

        <f:switch expression="{item.menuLevel}">
            <f:case value="1">
                <f:if condition="{item.subItems}">
                    <f:then>
                        <li {ts:render(path:
                        '{item.menuLevel}.{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu"
                           href="#node-{item.node.Identifier}" aria-expanded="false" aria-controls="sc2">{item.label} <i
                                class="zmdi zmdi-chevron-down"></i></a>
                        <f:if condition="{item.subItems}">
                            <ul id="node-{item.node.Identifier}" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="node-{item.node.Identifier}">
                                <f:render section="itemsList" arguments="{items: item.subItems}"/>
                            </ul>
                        </f:if>
                        </li>
                    </f:then>
                    <f:else>
                        <li>
                           <a class="top" href="{neos:uri.node(node:item.node)}">{item.label}</a>
                        </li>
                    </f:else>
                </f:if>


                </li>
            </f:case>
            <f:case value="2">
                <li {ts:render(path:
                '{item.menuLevel}.{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
                <a href="{neos:uri.node(node:item.node)}">{item.label}</a>
                <f:if condition="{item.subItems}">
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <f:render section="itemsList" arguments="{items: item.subItems}"/>
                    </ul>
                </f:if>
                </li>
            </f:case>
        </f:switch>

    </f:for>
</f:section>

